.head
{
  font-family: 'Open Sans Condensed', sans-serif;
}
.box
{
  position: absolute;
  padding: 80px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 250px;
  box-sizing: border-box;
  background: rgba(44, 14, 14, 0.7);
  border-radius: 15px;
}

h3 a
{
    margin:0;
    padding: 0;
    color: rgb(231, 152, 152);
    font-family:'Arial Narrow';
    font-weight: 500;
    position: absolute;
    bottom: 1px;
    text-decoration: none;
    font-size: 24px;
    background: transparent;
}